@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;500;600;700&family=Raleway:wght@300;400;600;700&display=swap');
*, html, body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Montserrat';
}
.featured-works {
		padding: 95px 0;
		// .featured-works__title

		&__title {
			margin-bottom: 10px;
		}

		// .featured-works__subtitle

		&__subtitle {
			margin-bottom: 100px;
		}

		// .featured-works__blocks

		&__blocks {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 370px 370px;
			gap: 15px;
		}
}
.container {
	max-width: 1140px;
	margin: auto;
	padding: 0 15px;
}
.title {
	font-size: 38px;
  	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.subtitle {
	font-family: 'Merriweather';
  	font-size: 17px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}
.featured-works__block-one {
	background: url(../img/featured_works_one.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.featured-works__block-two {
	background: url(../img/featured_works_two.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.featured-works__block-three {
	background: url(../img/featured_works_three.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.featured-works__block-four {
	background: url(../img/featured_works_four.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.featured-works__block-five {
	background: url(../img/featured_works_five.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.featured-works__block-six {
	background: url(../img/featured_works_six.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.our-services {
	padding: 120px 0;
	background-color: #f9fbfb;
	// .our-services__title

	&__title {
		margin-bottom: 10px;
	}

	// .our-services__subtitle

	&__subtitle {
		margin-bottom: 100px;
	}

	// .our-services__blocks

	&__blocks {
		display: grid;
		grid-template-columns: 1.5fr 1.13fr;
		gap: 14px;
		margin-bottom: 14px;
	}

	&__blocks-revers{
		grid-template-columns: 1.13fr  1.5fr;
		margin-bottom: 0;
	}

	// .our-services__block
	
	&__block {
		padding: 140px 80px 41px 60px;
		background-blend-mode: color;
		position: relative;
		&:hover{
			.our-services__block-hover{
				display: block;
			}
			.our-services__block-hover-opacity{
				visibility: hidden;
			}
		}
	}
	&__block-hover{
		display: none;
		position: absolute;
		padding: 60px 70px 50px 60px;
		background-color: #3dfcecda;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		h5{
			color:black
		}
		p{
			line-height: 30px;
			color: black;
		}
		a{
			img{
				width: 17px;
				height: 17px;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	// .our-services__block-title

	&__block-title {
		font-family: 'Merriweather';
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		color: white;
		margin-bottom: 25px;
	}

	// .our-services__block-subtitle

	&__block-subtitle {
		font-size: 16px;
		font-family: 'Raleway';
		color: white;
		margin-bottom: 50px;
	}

	// .our-services__block-button

	&__block-button {
		color: white;
		padding: 20px;
		display: inline-block;
		margin-left: -20px;
		span{
			font-family: 'Raleway';
			font-size: 18px;
			font-weight: 500;
			text-transform: uppercase;
			background: url(../img/arrow.png) no-repeat;
			background-position: center right;
			padding-right: 40px;
		}
	}
	&__block-one{
		padding-right: 100px;
		background: url(../img/our_services_img_one.png) no-repeat rgba(0, 0, 0, 0.596);
	
	}
	&__block-two{
		background: url(../img/our_services_img_two.png) no-repeat rgba(0, 0, 0, 0.596);
		background-size: cover;
		background-position: center -40px;
	}
	&__block-three{
		padding-right: 100px;
		background: url(../img/our_services_img_three.png) no-repeat rgba(0, 0, 0, 0.596);
		background-size: contain;
		background-position: center;
	}
	&__block-four{
		background: url(../img/our_services_img_four.png) no-repeat rgba(0, 0, 0, 0.596);
		background-size: cover;
		background-position: -120px center;
	}
	&__block-five{
		background: url(../img/our_services_img_five.png) no-repeat rgba(0, 0, 0, 0.596);
		background-size: cover;
		padding-right: 100px;
	}
	&__block-six{
		background: url(../img/our_services_img_six.png) no-repeat rgba(0, 0, 0, 0.596);
		padding-right: 100px;
		background-size: cover;
		background-position: -45px center;
	}
}

.small-team {
	padding: 100px 0;

	// .small-team__title

	&__title {
		margin-bottom: 10px;
	}

	// .small-team__subtitle

	&__subtitle {
		margin-bottom: 120px;
	}

	// .small-team__blocks

	&__blocks {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 440px 440px;
		gap: 15px;
	}

	// .small-team__block

	&__block {
		padding: 190px 10px 0;
	}

	// .small-team__say

	&__say {
		max-width: 335px;
		margin: auto;
		background-color: #6df6eb;
		padding: 40px 10px 40px 35px;
		box-shadow: 2.7px 6.4px 16px 0 rgba(20, 20, 21, 0.18);
	}

	// .small-team__say-title

	&__say-title {
		font-family: 'Merriweather';
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
		span{
			font-size: 15px;
  			font-weight: normal;
			font-style: italic;
			color: rgba(118, 112, 112, 0.95);
		}
	}

	// .small-team__say-subtitle

	&__say-subtitle {
		font-family: 'Raleway';
  		font-size: 16px;
		margin-bottom: 35px;
	}

	// .small-team__say-contacts

	&__say-contacts {
		display: flex;
		li{
			margin-right: 12px;
		}
	}

	// .small-team__block-one

	&__block-one {
		background: url(../img/small_team_img_one.png) no-repeat;
		background-position: center;
		background-size: cover;
	}

	// .small-team__block-two
	
	&__block-two {
		background: url(../img/small_team_img_two.png) no-repeat;
		background-position: center;
		background-size: cover;
	}

	// .small-team__block-three

	&__block-three {
		background: url(../img/small_team_img_three.png) no-repeat;
		background-position: center;
		background-size: cover;
	}

	// .small-team__block-four

	&__block-four {
		background: url(../img/small_team_img_four.png) no-repeat;
		background-size: cover;
		background-position: center;
	}

	// .small-team__block-five

	&__block-five {
		background: url(../img/small_team_img_five.png) no-repeat;
		background-position: center;
		background-size: cover;
	}

	// .small-team__block-six

	&__block-six {
		background: url(../img/small_team_img_one.png) no-repeat;
		background-position: center;
		background-size: cover;
	}
}
@media screen and (max-width: 940px){
	.featured-works{
		&__blocks{
			grid-template-columns: 1fr 1fr;
		}
	}
	.our-services{
		&__blocks{
			grid-template-columns: 1fr 1fr;
		}
		&__block-hover{
			padding: 50px 50px 30px 30px;
			p{
				line-height: 25px;
				margin-bottom: 15px;
			}
		}
	}
	&__block{
		padding: 140px 40px;
	}
}
@media screen and (max-width: 922px){
	.small-team{
		&__blocks{
			grid-template-columns: 1fr 1fr;
		}
		padding: 190 0;
	}
}
@media screen and (max-width: 712px){
	.featured-works{
		&__blocks{
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 370px);
		}
	}
	.our-services{
		&__blocks{
			grid-template-columns: 1fr;
		}
	}
	.small-team{
		&__blocks{
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 440px);
		}
	}
}
@media screen and (max-width: 380px){
	.wrapper{
		width: 380px;
	}
	.our-services{
		&__block{
			padding: 50px 30px 120px;
		}
		&__block-hover{
			padding: 20px 50px 30px 30px;
		}
	}
}

